{% extends 'layouts/main.html' %}
{% block title %}{{_('Home')}}{% endblock %}
{% block content %}
  <h1 class="display-3">{{_('Welcome to Fake News!')}}</h1>
  <br>
  <p class="lead">{{_('The best place to find trustworthy news sources! Our website enables users to search for articles that have been filtered through our machine learning model for an accurate prediction of what is fake news and what is real.')}}</p>
  <p><blockquote class="blockquote text-center" style="Width: 75%; margin: auto;">
  <p class="mb-0">"{{_('We have begun to live in a world, where we eat content, drink content and breathe content, without giving a single thought to its composition and what kind of impact it has upon our lives.')}}"</p>
  <footer class="blockquote-footer">Abhijit Naskar <cite title="Source Title">The Constitution of The United Peoples of Earth</cite></footer>
</blockquote></p>
  <hr class="my-4">
  <p>{{_('Use our search feature for articles based on a keyword, or head over to our explore section to get a prediction based on the text of a single article.')}} </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/search" role="button">{{_('Search')}}</a>
    <a class="btn btn-primary btn-lg" href="/explore" role="button">{{_('Explore')}}</a>
  </p>


<br><br><br>

<h2 class="display-4">{{_('Trending Keywords')}}</h2>

<hr class="my-4">
<table class="table table-hover" style="width: 75%;">
  <thead>
    <tr>
      <th scope="col">{{_('Word')}}</th>
      <th scope="col">{{_('Count')}}</th>
    </tr>
  </thead>


  <tbody>

    {% for key in data %}
    <tr>
      <th scope="row">{{ key }}</th>
      <td> {{ data[key] }} </td>
    </tr>
    {% endfor %}
    <!-- <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
    </tr> -->

  </tbody>
</table>

{% endblock %}
