{% if authenticated == True %}{% extends 'layouts/main.html' %}{% endif %}
{% if authenticated == False %}{% extends 'layouts/login.html' %}{% endif %}
{% block title %}{{_('About')}}{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">Who We Are</p>
<p>Welcome to Fake News!</p>
<p>The best place to find trustworthy news sources! Our website enables users to search for articles that have been filtered through our machine learning model for an accurate prediction of what is fake news and what is real.</p>
<p>We are a group of three San Jose State University students from the Computer Engineering Graduate Department.</p>
<p>This is our project from out CMPE 280 - Web & UI Design Class.</p>
<p>Hope you enjoy!</p>

{% endblock %}
