<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description"
          content="Spot fake news on the news articles you read every day. Find out if you reading trustworthy
         news information or fake news."
    >
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles -->
    <link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/layout.login.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gugi&effect=destruction"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" rel="stylesheet">
    <!-- /styles -->

    <!-- favicons SOURCE https://favicon.io/emoji-favicons/newspaper/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/ico-new/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/ico-new/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/ico-new/favicon-16x16.png">
    <!-- <link rel="manifest" href="static/site.webmanifest"> -->

        <!-- <link rel="shortcut icon" href="/static/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png"> -->
    <!-- /favicons -->

    <!-- scripts -->
    <script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
    <!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
    <!-- /scripts -->

</head>
<body class="form-only-page">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('explore') }}">{{('Explore')}}</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'about' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('about') }}">{{_('About')}}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Languages') }}</a>
              <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
                <a class="dropdown-item" href="{{ url_for('set_language', language='en') }}"><span class="flag-icon flag-icon-us"></span> {{ _('English') }}</a>
                <a class="dropdown-item" href="{{ url_for('set_language', language='es') }}"><span class="flag-icon flag-icon-mx"></span> {{ _('Spanish') }}</a>
              </div>
            </li>
        </ul>
    </div>
    <div class="ml-auto">
        <a href="{{ url_for('login') }}" class="btn btn-outline-primary my-3 my-sm-0">{{_('Log In')}}</a>
        <a href="{{ url_for('register') }}" class="btn btn-primary my-3 my-sm-0">{{_('Sign Up')}}</a>
    </div>
</nav>

<div>
    <main id="content" role="main" class="container">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-block alert-error fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ message }}

        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
<script type="text/javascript" src="/static/js/libs/bootstrap.min.js" defer></script>
<script type="text/javascript" src="/static/js/plugins.js" defer></script>
<script type="text/javascript" src="/static/js/script.js" defer></script>

<!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
<script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
</script>

</body>
</html>
