{% if authenticated == True %}{% extends 'layouts/main.html' %}{% endif %}
{% if authenticated == False %}{% extends 'layouts/explorer.html' %}{% endif %}
{% block title %}{{_('Fake News Spotter - Spot any Fake News Article')}}{% endblock %}
{% block content %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v2.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="../../static/js/d3.layout.cloud.js"></script>

<div class="jumbotron">
    <h1 class="fake_news_title font-effect-destruction" >{{_('FAKE NEWS DETECTION')}}</h1>
    <p class="lead fake_news_title font-effect-destruction"> {{_('Using Machine learning you can find out if the news
        article you are reading is
        trustworhty')}}</p>
    <hr class="my-4">
    <fieldset id="external_article">
        <legend>{{_('Paste your article here')}}</legend>
        <div class="form-group">
            <div id="detector_true" class="hidden alert alert-success">
                <strong>{{_('Real Article!')}}</strong> <a href="#" class="alert-link">{{_('You can read this
                article with
                confidence')}}</a>
            </div>
            <div id="detector_false" class="hidden alert alert-primary">
                <strong>{{_('Fake News!!!')}}</strong> <a href="#" class="alert-link"> {{_('WARNING')}}</a> {{_('Do
                not
                trust
                this
                information')}}
            </div>
            <textarea id="external_article_text" class="form-control" id="exampleTextarea" rows="20"
                      spellcheck="false"></textarea>
        </div>
    </fieldset>
    <p class="lead">
        <a id='single_article_predict' class="btn btn-primary btn-lg" href="#" role="button">{{_('TEST')}}</a>
    </p>
    <br>
    <div id="word_cloud">

    </div>
</div>
<script type="text/javascript">
    $('#single_article_predict').on('click',function (e) {
        var article = $('#external_article #external_article_text').val();
        console.log(article);

        var request_payload = {
            'text': article,
        };

        $.ajax({
            url: "{{url_for('predict')}}",
            data: JSON.stringify(request_payload),
            type: 'POST',
            crossDomain: true,
            dataType: 'json',
            success: function(response) {
                console.log(response.response);
                external_article_display(response);
                create_word_cloud(article);
            },
            error: function(error) {
                console.log(error);
            },
        });
    });

    function external_article_display(response){
        console.log('inside external article');
        console.log(response.response);
        if (response.response == 'True'){
            $('#detector_true').show();
            $('#detector_false').hide();
        }
        else{
            $('#detector_false').show();
            $('#detector_true').hide();
        }
    }


    function splitByWords (text) {
        // split string by spaces (including spaces, tabs, and newlines)
        var wordsArray = text.split(/\s+/);
        return wordsArray;
    }

    // function createWordMap (wordsArray) {
    //
    //     // create map for word counts
    //     var wordsMap = {};
    //     /*
    //       wordsMap = {
    //         'Oh': 2,
    //         'Feelin': 1,
    //         ...
    //       }
    //     */
    //     wordsArray.forEach(function (key) {
    //         if (wordsMap.hasOwnProperty(key)) {
    //             wordsMap[key]++;
    //         } else {
    //             wordsMap[key] = 1;
    //         }
    //     });
    //
    //     return wordsMap;
    //
    // }
    //
    // function create_word_cloud(text){
    //     console.log('inside create word cloud');
    //     var word_array = splitByWords(text);
    //     var data = createWordMap(word_array);
    //     console.log(data);
    //
    //     var color = d3.scale.linear()
    //         .domain([0,1,2,3,4,5,6,10,15,20,100])
    //         .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);
    //
    //     d3.layout.cloud().size([800, 300])
    //         .words(data)
    //         .rotate(0)
    //         .fontSize(function(d) { return d.size; })
    //         .on("end", draw)
    //         .start();
    //
    //     function draw(words) {
    //         d3.select("word_cloud").append("svg")
    //             .attr("width", 850)
    //             .attr("height", 350)
    //             .attr("class", "wordcloud")
    //             .append("g")
    //             // without the transform, words words would get cutoff to the left and top, they would
    //             // appear outside of the SVG area
    //             .attr("transform", "translate(320,200)")
    //             .selectAll("text")
    //             .data(words)
    //             .enter().append("text")
    //             .style("font-size", function(d) { return d.size + "px"; })
    //             .style("fill", function(d, i) { return color(i); })
    //             .attr("transform", function(d) {
    //                 return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
    //             })
    //             .text(function(d) { return d.text; });
    //     }
    // }

</script>

{% endblock %}
