{% extends 'layouts/login.html' %}
{% block title %}{{_('Fake News - Reset Password for Fake News Site')}}{% endblock %}
{% block content %}
  <form method="post" class="form form-reset">
    <h3 class="form-heading">{{_('Reset Password')}}</h3>
    {{ form.email(class_ = 'form-control first-input last-input', placeholder = form.email.label.text) }}
    <input type="submit" value="{{_('Submit')}}" class="btn btn-lg btn-primary btn-block">
    <!-- <p>Need to add DB for this to actually work</p> -->
  </form>
{% endblock %}
