{% extends 'layouts/login.html' %}
{% block title %}{{_('Fake News - News Stream with fake news spotter')}}{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">{{_('Log In')}}</h3>
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    {{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('forgot') }}">{{_('Forgot Password?')}}</a></p>
    <input type="submit" value="{{_('Submit')}}" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
