{% extends 'layouts/login.html' %}
{% block title %}{{_('Register for Fake News - Fake News Spotter Registration')}}{% endblock %}
{% block content %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <form method="post" class="form">
    <h3 class="form-heading">{{_('Register')}}</h3>
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
    {{ form.password(class_ = 'form-control', id  = 'pass1', placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control last-input', id = 'pass2', placeholder = form.confirm.label.text, required = true) }}
    <p id = "divCheckPasswordMatch" class="pull-left"></p>

    <span class="divCheckPasswordMatch">

    </span>
    <input id="formcon" type="submit" value="{{_('Register')}}" class="btn btn-primary btn-lg btn-block" disabled>
    <!-- <p>Need to add DB for this to actually work</p> -->

  </form>
   <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  <!-- <script type=text/javascript src='./../../static/js/test.js'></script> -->
  <script type="text/javascript">
    function checkPasswordMatch() {
      var password = $("#pass1").val();
      var confirmPassword = $("#pass2").val();
      if (password == confirmPassword) {
        $("#formcon").attr("disabled", false);
        $("#divCheckPasswordMatch").html("")
       }
      else {
        $("#formcon").attr("disabled", true);
        $("#divCheckPasswordMatch").html("Passwords Don't Match!")
      }
    }
    $(document).ready(function () {
      $("#pass1, #pass2").keyup(checkPasswordMatch);
    });

  </script>
{% endblock %}
