{% extends 'layouts/login.html' %}
{% block title %}{{_('Fake News Spotter - Register to the best Fake News Spotter')}}{% endblock %}
{% block content %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <form method="post" class="form">
    <h3 class="form-heading">{{_('Reset Password')}}</h3>
    {{ form.password(class_ = 'form-control first-input last-input', id = 'pass1', placeholder = form.password.label.text) }}
    {{ form.confirm(class_ = 'form-control last-input', id = 'pass2', placeholder = form.confirm.label.text, required = true) }}
    <p id = "divCheckPasswordMatch" class="pull-left"></p>

    <span class="divCheckPasswordMatch">

    </span>
    <input  id="formcon" type="submit" value="{{_('Reset')}}" class="btn btn-lg btn-primary btn-block">
    <!-- <p>Need to add DB for this to actually work</p> -->
  </form>

  <script type="text/javascript">
    function checkPasswordMatch() {
      var password = $("#pass1").val();
      var confirmPassword = $("#pass2").val();
      if (password == confirmPassword) {
        $("#formcon").attr("disabled", false);
        $("#divCheckPasswordMatch").html("")
       }
      else {
        var errorMessage = "{{_("""Passwords Don't Match!""")}}";
        $("#formcon").attr("disabled", true);
        $("#divCheckPasswordMatch").html(errorMessage)
      }
    }
    $(document).ready(function () {
      $("#pass1, #pass2").keyup(checkPasswordMatch);
    });

  </script>
{% endblock %}
