{% extends 'layouts/main.html' %}
{% block title %}Fake News Spotter - Results of News Stream {% endblock %}
{% block content %}
<style media="screen">
  table, th, td {
  border: 1px solid black;
}
</style>
<h1>FAKE NEWS RESULTS</h1>
<br>

<table class="table" style="border: 1px solid black;">
  <thead>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <!-- <th>Description</th> -->
        <th>Source</th>
        <th>URL</th>
        <th>Fake News?</th>
    </tr>
  </thead>
  <tbody>
    {% for name in results %}
    <tr>
      <td> {{ name.author }} </td>
      <td> {{ name.title }} </td>
      <!-- <td> {{ name.description }} </td> -->
      <td> {{ name.source.name }}</td>
      <td> {{ name.url }} </td>
      <td>yes/no</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
