{% extends 'layouts/main.html' %}
{% block title %}{{_('Fake News Spotter - Search News Articles and Spot Fake News')}}{% endblock %}
{% block content %}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <form id="search-form" class="form">
    <h1 class="form-heading search_header">{{_('Fake News - News Stream of the Day')}}</h1>
    <br>
    <h3 class="form-heading">{{_('Search for Articles by Keyword')}}</h3>
    <div class="input-group mb-3">
      {{ form.search(class_ = 'form-control', placeholder = form.search.label.text) }}
      <div class="input-group-append">
        <button id="search-button" type="button" class="btn btn-primary">{{_('Search')}}</button>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-1 col-sm-4">
          <label class="col-form-label col-form-label-sm" for="language-select">{{_('Lang.')}}</label>
        </div>
        <div class="col-md-2 col-sm-8">
          <select class="form-control" id="language-select">
            <option {% if default_language == 'en' %}selected="selected"{% endif %}>en</option>
            <option {% if default_language == 'es' %}selected="selected"{% endif %}>es</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-1 col-sm-12">
          <label class="col-form-label col-form-label-sm" for="domain">Domain</label>
        </div>
        <div class="col-md-6 col-sm-12">
          <input class="form-control" id="domain" name="domain" placeholder="{{_('Restrict search by typing a domain i.e cnn.com')}}" list="domains" pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$">
          <datalist id="domains">
            <option value="cnn.com">
            <option value="msnbc.com">
            <option value="rt.com">
            <option value="foxnews.com">
          </datalist>
        </div>
      </div>
    </div>

  </form>

  <div id="search-results">
  </div>

  <div id="pagination" style="text-align">
  </div>

  <!-- template for article entry -->
  <!---
    author: "Josh Ocampo"
    ​
    content: "I spend my weekends looking at photos of dogs.\r\nOn rescue websites, Ill filter for specific breeds like golden retrievers or beagles, in the hopes that Ill find the so-called perfect dog to adopt who sheds little and sleeps at regular hours. But as Ive learne… [+3214 chars]"
    ​
    description: "I spend my weekends looking at photos of dogs. Read more..."
    ​
    publishedAt: "2019-04-30T17:30:00Z"
    ​
    source: {…}
    ​​
    id: null
    ​​
    name: "Lifehacker.com"
    ​​
    <prototype>: Object { … }
    ​
    title: "Adopt a Dog, Not a Breed"
    ​
    url: "https://lifehacker.com/adopt-a-dog-not-a-breed-1834415902"
    ​
    urlToImage: "https://i.kinja
  --->
  <div id="article-template" class="card mb-3 hidden">
    <div class="card-header article-publisher"></div>
    <div class="card-body">
      <h4 class="card-title article-title"></h4>
      <h5 class="card-subtitle mb-2 article-author"></h5>
      <h6 class="card-subtitle mb-2 article-timestamp"></h6>
      <p class="card-text article-content"></p>
      <h6 class="card-subtitle mb-2 article-classification"></h6>
      <a href="" class="card-link article-source" target="_blank" >{{_('Source')}}</a>
    </div>
  </div>

  <script type="text/javascript">

    // Globals
    var searchQuery = '';
    var currentPage = 0;
    var articlesPerPage = 10;
    var pageRe = /#page\-(\d+)/;
    var language = 'en';
    var domain = '';

    // For when user searches
    function createPagination(totalCount) {
      $('#pagination').pagination({
        items: totalCount,
        itemsOnPage: articlesPerPage,
        cssStyle: 'light-theme'
      });
    }

    // For when user clicks on pagination
    $(window).on('hashchange', updateResults);
    function updateResults(){
      var pageHash = window.location.hash;
      var page = pageRe.exec(pageHash);
      if(page){
        currentPage = page[1];

        var request_payload = {
          'search': searchQuery,
          'page': currentPage,
          'pageSize': articlesPerPage,
          'language': language,
          'domain': domain
        }

        $.ajax({
          url: "{{url_for('search_api')}}",
          data: JSON.stringify(request_payload),
          type: 'POST',
          crossDomain: true,
          dataType: 'json',
          success: function(response) {
            renderArticles(response.articles);
          },
          error: function(error) {
            console.log(error);
          },
        });
      }
    }

    // Draw Articles on page
    function renderArticles(articles){
      // remove currently displayed articles
      $("#search-results").empty();

      // append articles
      articles.forEach(function(article, i){
        var template = $("#article-template").clone();
        template.attr("id", "article-"+i);
        template.removeClass("hidden");

        classification = '';
        if(article.classification=="REAL"){
          template.addClass("border-success");
          classification = "{{_('REAL')}}"
        }
        else{
          template.addClass("border-danger");
          classification = "{{_('FAKE')}}"
        }

        var cardHeader = template.children(".card-header");
        cardHeader.text(article.source.name);

        var cardBody = template.children(".card-body");
        cardBody.children(".article-title").text("{{_('Title:')}} " + article.title);
        cardBody.children(".article-author").text("{{_('Author:')}} " + article.author);
        cardBody.children(".article-timestamp").text("{{_('Published At:')}} " + article.publishedAt);
        cardBody.children(".article-content").text("{{_('Content:')}} " + article.content);
        cardBody.children(".article-classification").text(classification);
        cardBody.children(".article-source").attr("href", article.url);

        $('#search-results').append(template);
      });
    }

    // When user hits enter
    $("#search").keypress(function(e) {
      if(e.which == 13) {
          e.preventDefault();
          $("#search-button").click();
      }
    });
    // Ajax call for searching
    $('#search-button').on('click', function (e) {

      // validate form
      $("#search-form")[0].reportValidity();
      if(!$("#search-form")[0].checkValidity()){
        return;
      }

      // check domain matches expected pattern
      $("#domain")[0].reportValidity();
      if(!$("#domain")[0].checkValidity()){
        return;
      }

      searchQuery = $('#search').val();
      currentPage = 1;
      language = $('#language-select').val();
      domain = $('#domain').val();

      var request_payload = {
        'search': searchQuery,
        'page': 1,
        'pageSize': articlesPerPage,
        'language': language,
        'domain': domain
      }

      $.ajax({
        url: "{{url_for('search_api')}}",
        data: JSON.stringify(request_payload),
        type: 'POST',
        crossDomain: true,
        dataType: 'json',
        success: function(response) {
          if(response.totalResults==0){
            alert("{{_('Sorry, search yielded no results')}}");
            $("#search-results").empty();
            createPagination(0);
            return;
          }
          createPagination(100);
          renderArticles(response.articles);
        },
        error: function(error) {
          console.log(error);
        },
      });

    });

  </script>

{% endblock %}
